#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	authenticator: App\Model\UserLogin
	- App\Forms\SignFormFactory
	- App\Model\UserModel
	- App\Model\KlubModel
	- App\Model\LeagueModel
	- App\Model\MatchModel
	router: App\RouterFactory::createRouter
